#editor {
    width: 100%;
    height: 100%;
}
.editor-container {
    height: 780px;
}
.inline-header {
    display: inline-block;
}
.float-right {
    float: right;
}
.sidemenu-btn {
    background: #3c8dbc !important;
    color: #ffffff !important;
    text-align: left;
}
.sidemenu-btn:hover {
    background: #367fa9 !important;
}
body.sidebar-collapse .sidemenu-btn {
    text-align: center;
}
.sidebar-menu>li>.sidemenu-btn>.fa,
.sidebar-menu>li>.sidemenu-btn>.glyphicon,
.sidebar-menu>li>.sidemenu-btn>.ion {
    margin-left: -10px;
}
body:not(.sidebar-collapse) .sidebar-menu>li>a {
    text-overflow: ellipsis;
    overflow: hidden;
}
body.sidebar-collapse .sidebar-menu>li>a>span {
    text-overflow: ellipsis;
    overflow: hidden;
}
.control-sidebar-bg, .control-sidebar {
    width: 320px;
    right: -320px;
}
