#editor {
    width: 100%;
    height: 100%;
}
.editor-container {
    height: 580px;
}
.inline-header {
    display: inline-block;
}
.float-right {
    float: right;
}
.sidemenu-btn {
    background: #3c8dbc !important;
    color: #ffffff !important;
    text-align: left;
}
.sidemenu-btn:hover {
    background: #367fa9 !important;
}
body.sidebar-collapse .sidemenu-btn {
    text-align: center;
}
.sidebar-menu>li>.sidemenu-btn>.fa,
.sidebar-menu>li>.sidemenu-btn>.glyphicon,
.sidebar-menu>li>.sidemenu-btn>.ion {
    margin-left: -10px;
}
body:not(.sidebar-collapse) .sidebar-menu>li>a {
    text-overflow: ellipsis;
    overflow: hidden;
}
body.sidebar-collapse .sidebar-menu>li>a>span {
    text-overflow: ellipsis;
    overflow: hidden;
}
.control-sidebar-bg, .control-sidebar {
    width: 320px;
    right: -320px;
}
.delete-btn {
    margin-bottom: 8px;
    margin-left: 10px;
}
.sidebar-menu>li.sidemenu-info {
    text-align: center;
    padding: 20px;
    color: #ecf0f5;
}
body.sidebar-collapse .sidebar-menu>li.sidemenu-info {
    display: none;
}
.sidebar-menu>li>.sidemenu-info-header {
    font-size: large;
}
.sidebar-menu>li>.sidemenu-info-msg {
    white-space: normal;
    margin-top: 10px;
}
.pointer-cursor {
    cursor: pointer;
}
#console {
    background-color: #222d32;
    height: 200px;
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
    overflow-y: auto;
    padding: 5px;
    white-space: pre;
}
#console .error {
    color: #dd4b39;
}
#console .info {
    color: #9bdd39;
}