#editor {
    width: 100%;
    height: 100%;
}
.editor-container {
    height: 540px;
}
#config-editor {
    width: 100%;
    height: 100%;
}
.config-editor-container {
    height: 580px;
}
.inline-header {
    display: inline-block;
}
.float-right {
    float: right;
}
.sidemenu-btn {
    background: #3c8dbc !important;
    color: #ffffff !important;
    text-align: left;
}
.sidemenu-btn:hover {
    background: #367fa9 !important;
}
body.sidebar-collapse .sidemenu-btn {
    text-align: center;
}
.sidebar-menu>li>.sidemenu-btn>.fa,
.sidebar-menu>li>.sidemenu-btn>.glyphicon,
.sidebar-menu>li>.sidemenu-btn>.ion {
    margin-left: -10px;
}
body:not(.sidebar-collapse) .sidebar-menu>li>a {
    text-overflow: ellipsis;
    overflow: hidden;
}
body.sidebar-collapse .sidebar-menu>li>a>span {
    text-overflow: ellipsis;
    overflow: hidden;
}
.control-sidebar-bg, .control-sidebar {
    width: 320px;
    right: -320px;
}
.delete-btn {
    margin-bottom: 8px;
    margin-left: 10px;
}
.sidebar-menu>li.sidemenu-info {
    text-align: center;
    padding: 20px;
    color: #ecf0f5;
}
body.sidebar-collapse .sidebar-menu>li.sidemenu-info {
    display: none;
}
.sidebar-menu>li>.sidemenu-info-header {
    font-size: large;
}
.sidebar-menu>li>.sidemenu-info-msg {
    white-space: normal;
    margin-top: 10px;
}
.pointer-cursor {
    cursor: pointer;
}
.console {
    background-color: #222d32;
    height: 200px;
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
    overflow-y: auto;
    padding: 5px;
    white-space: pre;
}
.console .error {
    color: #dd4b39;
}
.console .info {
    color: #9bdd39;
}
.console .user-input {
    color: #e8ce10;
}
.active-green {
    color: #53b32c !important;
}
.active-green-bg {
    color: #ffffff;
    background-color: #53b32c;
}
.inactive-red {
    color: #dd4b39 !important;
}
.inactive-red-bg {
    color: #ffffff;
    background-color: #dd4b39;
}
.apprecipe-menu-item {
    line-height: 24px;
}
.apprecipe-menu-item>a>i {
    line-height: 24px;
    width: 24px !important;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-left: -5px;
    margin-right: 5px;
}
.tile-console-link {
    float: right;
    color: #b8c7ce;
    position: relative;
    top: -34px;
}
.tile-console-link:hover {
    color: #ffffff;
}
.console-input>input.form-control {
    background-color: #36474e;
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    position: static;
    padding: 5px;
    border-radius: 0;
    border: 0;
}
.console-input .btn.send-input-btn {
    border-radius: 0;
}