<!-- Main content -->
<div class="content-wrapper {{csb.isOpen ? 'control-sidebar-open' : ''}}" style="min-height: 870px;">
	<section class="content">
	<div ng-hide="msb.selectedAppRecipe" class="well" style="display: inline-block;">
		<i class="vam glyphicon glyphicon-arrow-left" style="font-size: 32px;"></i>&nbsp;
		<span class="vam" style="font-size: 20px;">Select an app from the sidemenu.</span>
	</div>
	<div ng-show="msb.selectedAppRecipe">
		<div class="editor-header-row">
			<h3 id="editor-header-title" class="inline-header">{{msb.selectedAppRecipe.name}}</h3>
			<div class="buttons-left">
				<button type="button" ng-hide="msb.selectedAppRecipe.active" class="btn btn-active-green" ng-click="activateApp(msb.selectedAppRecipe, true)">Activate</button>
				<button type="button" ng-show="msb.selectedAppRecipe.active"  class="btn btn-inactive-red" ng-click="activateApp(msb.selectedAppRecipe, false)">Deactivate</button>
				<button type="button" class="btn btn-default" ng-click="saveAppRecipe(msb.selectedAppRecipe)" ng-disabled="msb.selectedAppRecipe.isClean"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
				<button type="button" class="btn btn-default" ng-click="openConfigEditor(msb.selectedAppRecipe)"><i class="glyphicon glyphicon-edit"></i>&nbsp;Edit configuration data</button>
				<button type="button" class="btn btn-default" ng-click="setGroup(msb.selectedAppRecipe)"><i class="glyphicon glyphicon-th"></i>&nbsp;Group:&nbsp;{{msb.selectedAppRecipe.group || 'global'}}</button>
			</div>
			<div class="buttons-right">
				<button type="button" ng-click="showConfirmDeleteAppModal()" class="btn btn-inactive-red"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
			</div>
		</div>
		<div class="editor-container">
			<div id="toast-saved" style="display:none"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Saved!</div>
			<div id="editor"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Console</div>
			<div class="panel-body">
				<div class="console" id="appConsole"></div>
				<form ng-submit="sendConsoleInput(msb.selectedAppRecipe)">
					<div class="console-input input-group">
                		<input type="text" class="form-control" placeholder="Input" ng-model="consoleInput">
                    	<span class="input-group-btn">
                      		<button type="submit" class="btn send-input-btn sidemenu-btn btn-flat">Send</button>
                    	</span>
                	</div>
                </form>
			</div>
		</div>
	</div>
	</section>
</div>