<!-- Left sidebar -->
<aside class="main-sidebar">
	<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="header">APP RECIPES</li>
	</ul>
	<ul id="appRecipeList" class="sidebar-menu">
		<li ng-class="appRecipe.selected ? 'active' : ''" class="apprecipe-menu-item" ng-repeat="appRecipe in appRecipes"><a ng-click="showAppRecipe(appRecipe)"><i class="glyphicon {{appRecipe.active ? 'active-green-bg glyphicon-transfer' : 'inactive-red-bg glyphicon-off'}}"></i><span style="vertical-align: top;">{{appRecipe.name}}</span></a></li>
		<li ng-hide="appRecipes.length" class="sidemenu-info"><span class="sidemenu-info-header">No apps</span><br><div class="sidemenu-info-msg pointer-cursor" data-toggle="modal" data-target="#createAppModal">Click here to get started with your first app</div></li>
	</ul>
	<ul class="sidebar-menu">
		<!-- Button trigger modal -->
		<li><a type="button" class="btn btn-primary btn-block sidemenu-btn" data-toggle="modal" data-target="#createAppModal"><i class="fa fa-plus"></i>&nbsp;<span>Create new app</span></a></li>
		<li><a type="button" class="btn btn-primary btn-block sidemenu-btn" ng-click="controlSidebar.open(0)"><i class="fa fa-th"></i>&nbsp;<span>My Tiles</span></a></li>
		<li><a type="button" class="btn btn-primary btn-block sidemenu-btn" ng-click="controlSidebar.open(1)"><i class="fa fa-book"></i>&nbsp;<span>Documentation</span></a></li>
		<li><a type="button" class="btn btn-primary btn-block sidemenu-btn" ng-click="controlSidebar.open(2)"><i class="fa fa-gears"></i>&nbsp;<span>Settings</span></a></li>
	</ul>
	</section>
</aside>