<!-- Main header -->
<header class="main-header">
	<!-- Logo -->
    <a class="logo">
    	<!-- mini logo for sidebar mini 50x50 pixels -->
    	<span class="logo-mini"><b>Tiles</b></span>
      	<!-- logo for regular state and mobile devices -->
      	<span class="logo-lg"><b>Tiles</b>Toolkit</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      	<!-- Sidebar toggle button-->
      	<a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        	<span class="sr-only">Toggle navigation</span>
      	</a>
      	<!-- Navbar Right Menu -->
      	<div class="navbar-custom-menu">
        	<ul class="nav navbar-nav">
          	<!-- Control Sidebar Toggle Button -->
          	<li><a role="button" ng-click="controlSidebar.toggle()"><i class="fa fa-gears"></i></a></li>
        	</ul>
      	</div>
    </nav>
</header>