<!-- Main content -->
<div class="content-wrapper {{csb.isOpen ? 'control-sidebar-open' : ''}}" style="min-height: 870px;">
	<section class="content">
	<div ng-hide="msb.selectedAppRecipe" class="well" style="display: inline-block;">
		<i class="vam glyphicon glyphicon-arrow-left" style="font-size: 32px;"></i>&nbsp;
		<span class="vam" style="font-size: 20px;">Select an app from the sidemenu.</span>
	</div>
	<div ng-show="msb.selectedAppRecipe">
		<div class="editor-header-row">
			<h3 id="editor-header-title" class="inline-header">{{msb.selectedAppRecipe.name}}</h3>
			<button type="button" ng-click="showConfirmDeleteAppModal()" class="btn btn-inactive-red btn-sm delete-btn"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</button>
			<div class="float-right" style="margin-top: 12px;">
				<div style="display: inline-flex; vertical-align: middle;">
	      			<label for="group" style="margin-top: 6px;">Group:</label>&nbsp;
	      			<input type="text" name="group" class="form-control" placeholder="Group" ng-model="msb.selectedAppRecipe.group">
	    		</div>
	    		<button type="button" class="btn btn-default" ng-click="openConfigEditor(msb.selectedAppRecipe)"><i class="glyphicon glyphicon-edit
"></i>&nbsp;Edit configuration data</button>
				<button type="button" ng-hide="msb.selectedAppRecipe.active" class="btn btn-active-green" ng-click="activateApp(msb.selectedAppRecipe, true)">Activate</button>
				<button type="button" ng-show="msb.selectedAppRecipe.active"  class="btn btn-inactive-red" ng-click="activateApp(msb.selectedAppRecipe, false)">Deactivate</button>
				<button type="button" class="btn btn-default" ng-click="saveAppRecipe(msb.selectedAppRecipe)"><i class="glyphicon glyphicon-floppy-disk
"></i>&nbsp;Save</button>
			</div>
		</div>
		<div class="editor-container">
			<div id="editor"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Console</div>
			<div class="panel-body">
				<div class="console" id="appConsole"></div>
				<form ng-submit="sendConsoleInput(msb.selectedAppRecipe)">
					<div class="console-input input-group">
                		<input type="text" class="form-control" placeholder="Input" ng-model="consoleInput">
                    	<span class="input-group-btn">
                      		<button type="submit" class="btn send-input-btn sidemenu-btn btn-flat">Send</button>
                    	</span>
                	</div>
                </form>
			</div>
		</div>
	</div>
	</section>
</div>