<!-- Right sidebar -->
<aside class="control-sidebar control-sidebar-dark {{controlSidebar.isOpen ? 'control-sidebar-open' : ''}}">
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
  		<li class="{{controlSidebar.selectedTabIndex == 0 ? 'active' : ''}}" ng-click="controlSidebar.selectTab(0)"><a data-toggle="tab"><i class="fa fa-th"></i></a></li>
  		<li class="{{controlSidebar.selectedTabIndex == 1 ? 'active' : ''}}" ng-click="controlSidebar.selectTab(1)"><a data-toggle="tab"><i class="fa fa-book"></i></a></li>
  		<li class="{{controlSidebar.selectedTabIndex == 2 ? 'active' : ''}}" ng-click="controlSidebar.selectTab(2)"><a data-toggle="tab"><i class="fa fa-gears"></i></a></li>
	</ul>
	<div class="tab-content">
		<!-- My Tiles Tab  -->
		<div class="tab-pane {{controlSidebar.selectedTabIndex == 0 ? 'active' : ''}}" id="control-sidebar-my-tiles-tab">
        	<h3 class="control-sidebar-heading">My Tiles</h3>
        	<ul class="control-sidebar-menu">
          		<li ng-repeat="tile in tiles">
                <a style="height: 73px;">
              			<i class="menu-icon fa fa-cube {{tile.active ? 'active-green-bg' : 'inactive-red-bg'}}"></i>
              			<div class="menu-info">
                			<h4 class="control-sidebar-subheading" style="display: inline;">{{tile.name}}</h4>&nbsp;
                      <p class="{{tile.active ? 'active-green' : 'inactive-red'}}" style="display: inline;">{{tile.active ? 'Active' : 'Inactive'}}</p>
                			<p>{{tile._id}}</p>
                      <p>Group:&nbsp;{{tile.group ? tile.group : '-'}}</p>
              			</div>
                    <span class="tile-console-link pointer-cursor" ng-click="showTileConsoleModal(tile)"><i class="glyphicon glyphicon-modal-window"></i>&nbsp;Show console</span>
            		</a>
          		</li>
        	</ul>
      	</div>
  	<!-- Documentation tab -->
  	<div class="tab-pane {{controlSidebar.selectedTabIndex == 1 ? 'active' : ''}}" id="control-sidebar-documentation-tab">
    	<h3 class="control-sidebar-heading">Documentation</h3>
      <a><i class="fa fa-external-link"></i>&nbsp;View full documentation</a> <!-- TODO: Add URL -->
      <div id="documentation" class="documentation" ng-include="'/templates/ide.documentation.html'" autoscroll></div>
  	</div>
  	<!-- Settings tab -->
  	<div class="tab-pane {{controlSidebar.selectedTabIndex == 2 ? 'active' : ''}}" id="control-sidebar-settings-tab">
    	<h3 class="control-sidebar-heading">Settings</h3>
      <div class="form-group">
        <label>Editor theme</label>
        <select class="form-control" name="selectTheme" ng-model="settings.currentSettings.ace.theme" ng-options="theme.name group by theme.group for theme in settings.aceThemes" ng-change="settings.themeChanged()"></select>
      </div>
      <div class="form-group">
        <label>Editor font size</label>
        <input class="form-control" type="number" name="input" ng-model="settings.currentSettings.ace.fontSize" min="10" max="100" ng-change="settings.fontSizeChanged()">
      </div>
  	</div>
  </div>
</aside>
<div class="control-sidebar-bg"></div>